body{
  font-family: 'Roboto', sans-serif;
}

p{
  font-weight: 300;
}
b{
  font-weight: 700;
}
.sep-30{
  height: 30px;
}
/*Nav*/
#mainNav .navbar-brand{
font-family: 'Alegreya', serif;
color: #fff !important;
font-weight: 300;
}
#mainNav .navbar-nav .nav-item .nav-link{
  font-weight: 300;
  color: #fff;
}

.navbar-light .navbar-toggler{
    border: none;
}
.navbar-toggler .fas{
  color: #fff;
  font-size: 34px;
}
/*Content*/
.bg-grey{
  background: #E2E2E2;
}
.bg-multicolor{
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#d25e5f+0,1056c0+100 */
  background: rgb(210,94,95); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(210,94,95,1) 0%, rgba(16,86,192,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(210,94,95,1) 0%,rgba(16,86,192,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(210,94,95,1) 0%,rgba(16,86,192,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d25e5f', endColorstr='#1056c0',GradientType=0 ); /* IE6-9 */
}
.page-section {
    padding: 4rem 0;
}
.text-blue{
    color: #1F57B8;
}
.text-white a{
    color: #fff;
    font-weight: 400;
}
header.masthead{
  position: relative;
  overflow: hidden;
}
header.masthead:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 800px;
 /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0.39+1,0+99 */
background: -moz-linear-gradient(top,  rgba(0,0,0,0.39) 0%, rgba(0,0,0,0.39) 1%, rgba(0,0,0,0) 99%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0.39) 0%,rgba(0,0,0,0.39) 1%,rgba(0,0,0,0) 99%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(0,0,0,0.39) 0%,rgba(0,0,0,0.39) 1%,rgba(0,0,0,0) 99%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#63000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}
header.masthead h1 {
    font-size: 3rem;
}
header.masthead p {
  font-size: 2rem;
  color: #fff;
  }
header.masthead p.small{
  font-size: 1.3rem;
}
header.masthead span.horario{
  display: block;
  font-size: 1.8rem;
}
header.masthead p.direccion{
  font-size: 1.1rem;
}
header.masthead p.direccion a, header.masthead p.direccion a:hover{
  color:#fff;
}
header.masthead a.btn, a.btn{
  color: #fff !important;
  padding: 12px 44px;
  font-size: 0.9rem;
  font-weight: 600;
  background: #E0004D;
  cursor: pointer;
  border: none;
  -moz-box-shadow:    0px 0px 9px 1px rgba(250,250,250, 0.3);
  -webkit-box-shadow: 0px 0px 9px 1px rgba(250,250,250, 0.3);
  box-shadow:         0px 0px 9px 1px rgba(250,250,250, 0.3);
}
header.masthead a.btn:hover{
  color: #fff;
  background: #f24516;
}
.icono {
    width: 100px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
}
.icono img{
    width: 100%;
}
#accordion h3{
    font-size: 1rem;
    background: #D8D8D8;
    padding: 15px 20px;
    color: #1F57B8;
    cursor: pointer;
}
#accordion h3 span{float: right;}
#accordion h3 .fa-minus{display: none;}
#accordion h3.ui-state-active .fa-plus{display: none;}
#accordion h3.ui-state-active .fa-minus{display: block;}
ul.social-media{
    width: 180px;
    margin: 0 auto;
    padding: 0;
}
ul.social-media li{
  display: inline-block;
  font-size: 40px;
  margin: 0 11px;
}
ul.social-media li a{
  color: #fff;
}
ul.social-media li a:hover{color: rgb(210,94,95);}
#section5 .title-partners{
margin:30px 0 0 0;
}
/*Media*/
@media (min-width: 992px){
  #mainNav .navbar-nav .nav-item .nav-link {
      color: #FFFFFF;
      font-size: 16px;
    }
  #mainNav.navbar-scrolled{
    background: rgba(0,0,0,0.7);
  }
  #mainNav.navbar-scrolled .navbar-nav .nav-item .nav-link {
    color: #fff;
  }
  header.masthead p {
    font-size: 2rem;
  }
}
@media (min-width: 1200px){
  header.masthead h1 {
    font-size: 5rem;
  }
}
@media (max-width: 991px){
  #mainNav{
  background: rgba(0,0,0,0.7);
  }
}

